@font-face {font-family: "yofont";
  src: url('/images/fonts/iconfont.eot?t=1483669322119'); /* IE9*/
  src: url('/images/fonts/iconfont.eot?t=1483669322119#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconfont.woff?t=1483669322119') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconfont.ttf?t=1483669322119') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconfont.svg?t=1483669322119#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "yofont";
  src: url('/images/fonts/iconfont.eot?t=1483707336645'); /* IE9*/
  src: url('/images/fonts/iconfont.eot?t=1483707336645#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconfont.woff?t=1483707336645') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconfont.ttf?t=1483707336645') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconfont.svg?t=1483707336645#iconfont') format('svg'); /* iOS 4.1- */
}